@mixin transition {
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.42, 0, 1, 1.43);
}
@mixin growfont($grow) {
   @include transition;
  font-size: #{$grow};

  &:hover {
    font-size: #{$grow*1.15};
  }
}
@mixin btn($bgrclr, $bdr, $shclr, $bdrds) {
  background-color: transparent;
  border: $bdr;
  box-shadow: none;
  border-radius: $bdrds;
  cursor: pointer;
  @include transition;

  &:hover {
    box-shadow: 1px 1px 1px 1px $shclr;
    background-color: transparentize(lighten($bgrclr, 25%), .5);
  }

  &:active {
    box-shadow: inset 1px 1px 1px 1px $shclr;
  }

  &:focus {
    box-shadow: none;
  }

  &:active,
  &:focus {
    outline: none;
  }
}
@mixin txtBtn($clr, $decoration, $weight, $padding, $margin, $fontfamily) {
  color: $clr;
  text-decoration: $decoration;
  padding: $padding;
  margin: $margin;
  font-family: $fontfamily;
  font-weight: $weight;
}
@mixin txtArea($clr) {
  background-color: transparentize(lighten($clr, 35%), .98);
  border: 1px transparentize($clr, .55) solid;
  box-shadow: 0 0 0px .5px transparentize($clr, .75);
  border-radius: 4px;
}

Button,
Link,
[role=button],
a.button,
button,
input {
  @include btn(lighten($grey, 15%), solid $grey 1px, $grey, 5px);
  font-size: 1em;

  &[type=submit] {
    @include txtBtn($black, none, 600, .25em, .15em, $f1);
  }

  &.boldBtn {
    @include txtBtn($black, none, 600, .25em, .15em, $f1);
  }

  &.itaBtn {
    @include txtBtn($black, italic, 400, .25em, .15em, $f1);
  }

  &.undBtn {
    @include txtBtn($black, underline, 400, .25em, .15em, $f1);
  }

  &.BlocqBtn,
  &.ParaBtn,
  &.boldBtn,
  &.h1Btn,
  &.h2Btn,
  &.h3Btn,
  &.h4Btn,
  &.itaBtn,
  &.undBtn {
    width: auto;
    display: inline-flex;
  }
}

.DraftEditor-root {
  @include txtArea($grey);
  min-height:2em;
  width:75%;
  margin:0 auto;
}

.editBox,
[type=text] {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  width:75%;
  margin:0 auto;

  .editCtrl {
    @include eqwsm(1,8);
    @include btn(transparentize($grey, .75), solid $green 1px, $grey, 5px);
    text-align: center;
    margin: 0.1em;
    max-width: 2em;
  }
}

.error {
  color: $red;
}

.redBtn {
  @include btn($red, 2px $orange solid, transparentize($black, .65), 3px)
}

.greenBtn {
  @include btn($green, 2px moreblue($green, 30%) solid, transparentize($black, .65), 3px)
}
