/*scss*/

html {
  font-size: 16px;
}

body {
  font-size: $r;
  font-family: $f1;
  overflow-x: hidden;
  -ms-overflow-style: none;
  width: 100%;

  &::-webkit-scrollbar {
    width: .25em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
}

.ui.container {
  display: grid;
  grid-template-rows: 5em auto 5em;
  grid-template-columns: 2em auto 2em;
  min-height: 100vh;
  @include mq($lgmobile) {
    grid-template-rows: 7em auto 6em;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  :after,
  :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.clearfix {
  &:after,
  &:before {
    content: " ";
  }
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  margin: auto;
  text-align: center;
}

.Header {
  grid-area: 1 / 1 / 2 / 4;
  background: linear-gradient(to top, $clear 80%, $green);
  text-align: center;
}

.Footer {
  grid-area: 3 / 1 / 4 / 4;
  background: linear-gradient($clear 80%, $green);
  text-align: center;
}

.Left {
  grid-area: 1 / 1 / 4 / 2;
  background: linear-gradient(-90deg, $clear 80%, $red);
  text-align: left;
}

.Right {
  grid-area: 1 / 3 / 4 / 4;
  background: linear-gradient(90deg, $clear 80%, $blue);
  text-align: right;
}

.wrapper {
  width: 85vw;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  grid-area: 2 / 2 / 3 / 3;
  @include mqmq($lgmobile,$medmobile) {
    width:90vw;
  }
  @include mq($medmobile) {
    width:95vw;
  }

  .article,.DraftEditor-root {
    width: 90%;
    margin: 0 auto;
    @include mq($tablet) {
      width:95%;
    }
  }
}

.menu {
  justify-content: space-around;
  margin-top: 1em;
  @include mq($medmobile) {
    justify-content: flex-start;
  }
}

.btnRow {
  justify-content: flex-end;
}

.row {
  justify-content: flex-start;
}

.btnRow,
.menu,
.row {
  display: flex !important;
  flex-flow: row wrap;

  .menu-item {
    @include btn($green, 1px $purple solid, transparentize($black, .65), 5px);
    @include txtBtn($black, none, 600, .15em, .15em, $f1);
    @include eqw(1,15);
    text-align: center;
    text-decoration: none;
    min-width: 180px;
    max-width: 245px;
  }

  .rowBtn {
    @include txtBtn($black, none, 600, .15em, .15em, $f1);
    text-align: center;
    @include eqwsm(1,5);
    font-size: 0.75em;
    min-width: 75px;
  }
}

.ui.cards {
  display: flex;
  flex-flow: row wrap;
}

.contentBox,
.ui.card {
  @include txtArea(transparentize($grey, .5));
  box-shadow: shadow(lighten($grey, 10%));
  border-radius: 15px;
  margin: 0.25em;
  padding: 0.35em;
  min-width: 320px;
  width: 30vw;
  font-size: 0.7em;

  .boxHeader,
  .header {
    font-size: 1.25em;
    color: $black;
    font-weight: bold;
    display: flex;
    flex-flow: row;

    div {
      margin: 0.2em;
    }
  }

  .boxBody {
    div {
      margin: 0.5em;
    }
  }

  .boxFooter {
    div {
      margin: 0.75em 0;
    }
  }
}
