$f1: courier, monotype;

$r: calc(1em + 1vmin);

$black: rgb(35, 35, 35);

$grey: rgb(105, 105, 105);

$white: (235, 235, 235);

$clear: transparent;

$orange: rgb(176, 127, 94);

$green: rgb(86, 120, 104);

$blue: rgb(86, 104, 150);

$red: rgb(180, 90, 80);

$purple: rgb(120, 130, 170);

$yellow: rgb(100, 190, 150);

$shadow: -.1rem 0rem 2px rgba($black, .6);

$btnshadow: inset 0 1px 0 $grey,
0 1px 2px 2px $black;

@mixin eqw($min, $max) {
  @for $i from $min through $max {
    &:first-child:nth-last-child(#{$i}),
    &:first-child:nth-last-child(#{$i}) ~ * {
      width: 1 / $i * 95%;
    }
  }
}
@mixin eqwsm($min, $max) {
  @for $i from $min through $max {
    &:first-child:nth-last-child(#{$i}),
    &:first-child:nth-last-child(#{$i}) ~ * {
      width: 1 / $i * 25%;
    }
  }
}
@function moreblue($color, $percent) {
    @return mix($blue, $color, $percent);
}

@function morered($color, $percent) {
    @return mix($red, $color, $percent);
}

@function moregreen($color, $percent) {
    @return mix($green, $color, $percent);
}

@function shadow($color) {
    @return -.1em .1em 2px($color);
}

@function doubleShadow($color, $alpha) {
    @return .1em .1em 2px rgba($color, $alpha),
            inset .1em 1em 2px rgba($color, $alpha);
}

@function fullshadow($color, $alpha) {
    @return 0 0 5px rgba($color, $alpha),
    2px -2px 5px rgba($color, $alpha),
    (-2px) 2px 5px rgba($color, $alpha);
}
