Button,
Link,
[role=button],
a.button,
button,
input {
  background-color: transparent;
  border: solid dimgray 1px;
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.42, 0, 1, 1.43);
  font-size: 1em; }
  Button:hover,
  Link:hover,
  [role=button]:hover,
  a.button:hover,
  button:hover,
  input:hover {
    box-shadow: 1px 1px 1px 1px dimgray;
    background-color: rgba(207, 207, 207, 0.5); }
  Button:active,
  Link:active,
  [role=button]:active,
  a.button:active,
  button:active,
  input:active {
    box-shadow: inset 1px 1px 1px 1px dimgray; }
  Button:focus,
  Link:focus,
  [role=button]:focus,
  a.button:focus,
  button:focus,
  input:focus {
    box-shadow: none; }
  Button:active, Button:focus,
  Link:active,
  Link:focus,
  [role=button]:active,
  [role=button]:focus,
  a.button:active,
  a.button:focus,
  button:active,
  button:focus,
  input:active,
  input:focus {
    outline: none; }
  Button[type=submit],
  Link[type=submit],
  [role=button][type=submit],
  a.button[type=submit],
  button[type=submit],
  input[type=submit] {
    color: #232323;
    text-decoration: none;
    padding: 0.25em;
    margin: 0.15em;
    font-family: courier, monotype;
    font-weight: 600; }
  Button.boldBtn,
  Link.boldBtn,
  [role=button].boldBtn,
  a.button.boldBtn,
  button.boldBtn,
  input.boldBtn {
    color: #232323;
    text-decoration: none;
    padding: 0.25em;
    margin: 0.15em;
    font-family: courier, monotype;
    font-weight: 600; }
  Button.itaBtn,
  Link.itaBtn,
  [role=button].itaBtn,
  a.button.itaBtn,
  button.itaBtn,
  input.itaBtn {
    color: #232323;
    text-decoration: italic;
    padding: 0.25em;
    margin: 0.15em;
    font-family: courier, monotype;
    font-weight: 400; }
  Button.undBtn,
  Link.undBtn,
  [role=button].undBtn,
  a.button.undBtn,
  button.undBtn,
  input.undBtn {
    color: #232323;
    text-decoration: underline;
    padding: 0.25em;
    margin: 0.15em;
    font-family: courier, monotype;
    font-weight: 400; }
  Button.BlocqBtn, Button.ParaBtn, Button.boldBtn, Button.h1Btn, Button.h2Btn, Button.h3Btn, Button.h4Btn, Button.itaBtn, Button.undBtn,
  Link.BlocqBtn,
  Link.ParaBtn,
  Link.boldBtn,
  Link.h1Btn,
  Link.h2Btn,
  Link.h3Btn,
  Link.h4Btn,
  Link.itaBtn,
  Link.undBtn,
  [role=button].BlocqBtn,
  [role=button].ParaBtn,
  [role=button].boldBtn,
  [role=button].h1Btn,
  [role=button].h2Btn,
  [role=button].h3Btn,
  [role=button].h4Btn,
  [role=button].itaBtn,
  [role=button].undBtn,
  a.button.BlocqBtn,
  a.button.ParaBtn,
  a.button.boldBtn,
  a.button.h1Btn,
  a.button.h2Btn,
  a.button.h3Btn,
  a.button.h4Btn,
  a.button.itaBtn,
  a.button.undBtn,
  button.BlocqBtn,
  button.ParaBtn,
  button.boldBtn,
  button.h1Btn,
  button.h2Btn,
  button.h3Btn,
  button.h4Btn,
  button.itaBtn,
  button.undBtn,
  input.BlocqBtn,
  input.ParaBtn,
  input.boldBtn,
  input.h1Btn,
  input.h2Btn,
  input.h3Btn,
  input.h4Btn,
  input.itaBtn,
  input.undBtn {
    width: auto;
    display: inline-flex; }

.DraftEditor-root {
  background-color: rgba(194, 194, 194, 0.02);
  border: 1px rgba(105, 105, 105, 0.45) solid;
  box-shadow: 0 0 0px 0.5px rgba(105, 105, 105, 0.25);
  border-radius: 4px;
  min-height: 2em;
  width: 75%;
  margin: 0 auto; }

.editBox,
[type=text] {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  width: 75%;
  margin: 0 auto; }
  .editBox .editCtrl,
  [type=text] .editCtrl {
    background-color: transparent;
    border: solid #567868 1px;
    box-shadow: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.42, 0, 1, 1.43);
    text-align: center;
    margin: 0.1em;
    max-width: 2em; }
    .editBox .editCtrl:first-child:nth-last-child(1),
    .editBox .editCtrl:first-child:nth-last-child(1) ~ *,
    [type=text] .editCtrl:first-child:nth-last-child(1),
    [type=text] .editCtrl:first-child:nth-last-child(1) ~ * {
      width: 25%; }
    .editBox .editCtrl:first-child:nth-last-child(2),
    .editBox .editCtrl:first-child:nth-last-child(2) ~ *,
    [type=text] .editCtrl:first-child:nth-last-child(2),
    [type=text] .editCtrl:first-child:nth-last-child(2) ~ * {
      width: 12.5%; }
    .editBox .editCtrl:first-child:nth-last-child(3),
    .editBox .editCtrl:first-child:nth-last-child(3) ~ *,
    [type=text] .editCtrl:first-child:nth-last-child(3),
    [type=text] .editCtrl:first-child:nth-last-child(3) ~ * {
      width: 8.33333%; }
    .editBox .editCtrl:first-child:nth-last-child(4),
    .editBox .editCtrl:first-child:nth-last-child(4) ~ *,
    [type=text] .editCtrl:first-child:nth-last-child(4),
    [type=text] .editCtrl:first-child:nth-last-child(4) ~ * {
      width: 6.25%; }
    .editBox .editCtrl:first-child:nth-last-child(5),
    .editBox .editCtrl:first-child:nth-last-child(5) ~ *,
    [type=text] .editCtrl:first-child:nth-last-child(5),
    [type=text] .editCtrl:first-child:nth-last-child(5) ~ * {
      width: 5%; }
    .editBox .editCtrl:first-child:nth-last-child(6),
    .editBox .editCtrl:first-child:nth-last-child(6) ~ *,
    [type=text] .editCtrl:first-child:nth-last-child(6),
    [type=text] .editCtrl:first-child:nth-last-child(6) ~ * {
      width: 4.16667%; }
    .editBox .editCtrl:first-child:nth-last-child(7),
    .editBox .editCtrl:first-child:nth-last-child(7) ~ *,
    [type=text] .editCtrl:first-child:nth-last-child(7),
    [type=text] .editCtrl:first-child:nth-last-child(7) ~ * {
      width: 3.57143%; }
    .editBox .editCtrl:first-child:nth-last-child(8),
    .editBox .editCtrl:first-child:nth-last-child(8) ~ *,
    [type=text] .editCtrl:first-child:nth-last-child(8),
    [type=text] .editCtrl:first-child:nth-last-child(8) ~ * {
      width: 3.125%; }
    .editBox .editCtrl:hover,
    [type=text] .editCtrl:hover {
      box-shadow: 1px 1px 1px 1px dimgray;
      background-color: rgba(169, 169, 169, 0); }
    .editBox .editCtrl:active,
    [type=text] .editCtrl:active {
      box-shadow: inset 1px 1px 1px 1px dimgray; }
    .editBox .editCtrl:focus,
    [type=text] .editCtrl:focus {
      box-shadow: none; }
    .editBox .editCtrl:active, .editBox .editCtrl:focus,
    [type=text] .editCtrl:active,
    [type=text] .editCtrl:focus {
      outline: none; }

.error {
  color: #b45a50; }

.redBtn {
  background-color: transparent;
  border: 2px #b07f5e solid;
  box-shadow: none;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.42, 0, 1, 1.43); }
  .redBtn:hover {
    box-shadow: 1px 1px 1px 1px rgba(35, 35, 35, 0.35);
    background-color: rgba(218, 174, 169, 0.5); }
  .redBtn:active {
    box-shadow: inset 1px 1px 1px 1px rgba(35, 35, 35, 0.35); }
  .redBtn:focus {
    box-shadow: none; }
  .redBtn:active, .redBtn:focus {
    outline: none; }

.greenBtn {
  background-color: transparent;
  border: 2px #567376 solid;
  box-shadow: none;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.42, 0, 1, 1.43); }
  .greenBtn:hover {
    box-shadow: 1px 1px 1px 1px rgba(35, 35, 35, 0.35);
    background-color: rgba(152, 181, 168, 0.5); }
  .greenBtn:active {
    box-shadow: inset 1px 1px 1px 1px rgba(35, 35, 35, 0.35); }
  .greenBtn:focus {
    box-shadow: none; }
  .greenBtn:active, .greenBtn:focus {
    outline: none; }

/*scss*/
html {
  font-size: 16px; }

body {
  font-size: calc(1em + 1vmin);
  font-family: courier, monotype;
  overflow-x: hidden;
  -ms-overflow-style: none;
  width: 100%; }
  body::-webkit-scrollbar {
    width: .25em; }
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px; }
  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

.ui.container {
  display: grid;
  grid-template-rows: 5em auto 5em;
  grid-template-columns: 2em auto 2em;
  min-height: 100vh; }
  @media screen and (max-width: 768px) {
    .ui.container {
      grid-template-rows: 7em auto 6em; } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  * :after,
  * :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.clearfix:after, .clearfix:before {
  content: " "; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.aligncenter {
  margin: auto;
  text-align: center; }

.Header {
  grid-area: 1 / 1 / 2 / 4;
  background: linear-gradient(to top, transparent 80%, #567868);
  text-align: center; }

.Footer {
  grid-area: 3 / 1 / 4 / 4;
  background: linear-gradient(transparent 80%, #567868);
  text-align: center; }

.Left {
  grid-area: 1 / 1 / 4 / 2;
  background: linear-gradient(-90deg, transparent 80%, #b45a50);
  text-align: left; }

.Right {
  grid-area: 1 / 3 / 4 / 4;
  background: linear-gradient(90deg, transparent 80%, #566896);
  text-align: right; }

.wrapper {
  width: 85vw;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  grid-area: 2 / 2 / 3 / 3; }
  @media screen and (max-width: 768px) and (min-width: 480px) {
    .wrapper {
      width: 90vw; } }
  @media screen and (max-width: 480px) {
    .wrapper {
      width: 95vw; } }
  .wrapper .article, .wrapper .DraftEditor-root {
    width: 90%;
    margin: 0 auto; }
    @media screen and (max-width: 1000px) {
      .wrapper .article, .wrapper .DraftEditor-root {
        width: 95%; } }

.menu {
  justify-content: space-around;
  margin-top: 1em; }
  @media screen and (max-width: 480px) {
    .menu {
      justify-content: flex-start; } }

.btnRow {
  justify-content: flex-end; }

.row {
  justify-content: flex-start; }

.btnRow,
.menu,
.row {
  display: flex !important;
  flex-flow: row wrap; }
  .btnRow .menu-item,
  .menu .menu-item,
  .row .menu-item {
    background-color: transparent;
    border: 1px #7882aa solid;
    box-shadow: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.42, 0, 1, 1.43);
    color: #232323;
    text-decoration: none;
    padding: 0.15em;
    margin: 0.15em;
    font-family: courier, monotype;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    min-width: 180px;
    max-width: 245px; }
    .btnRow .menu-item:hover,
    .menu .menu-item:hover,
    .row .menu-item:hover {
      box-shadow: 1px 1px 1px 1px rgba(35, 35, 35, 0.35);
      background-color: rgba(152, 181, 168, 0.5); }
    .btnRow .menu-item:active,
    .menu .menu-item:active,
    .row .menu-item:active {
      box-shadow: inset 1px 1px 1px 1px rgba(35, 35, 35, 0.35); }
    .btnRow .menu-item:focus,
    .menu .menu-item:focus,
    .row .menu-item:focus {
      box-shadow: none; }
    .btnRow .menu-item:active, .btnRow .menu-item:focus,
    .menu .menu-item:active,
    .menu .menu-item:focus,
    .row .menu-item:active,
    .row .menu-item:focus {
      outline: none; }
    .btnRow .menu-item:first-child:nth-last-child(1),
    .btnRow .menu-item:first-child:nth-last-child(1) ~ *,
    .menu .menu-item:first-child:nth-last-child(1),
    .menu .menu-item:first-child:nth-last-child(1) ~ *,
    .row .menu-item:first-child:nth-last-child(1),
    .row .menu-item:first-child:nth-last-child(1) ~ * {
      width: 95%; }
    .btnRow .menu-item:first-child:nth-last-child(2),
    .btnRow .menu-item:first-child:nth-last-child(2) ~ *,
    .menu .menu-item:first-child:nth-last-child(2),
    .menu .menu-item:first-child:nth-last-child(2) ~ *,
    .row .menu-item:first-child:nth-last-child(2),
    .row .menu-item:first-child:nth-last-child(2) ~ * {
      width: 47.5%; }
    .btnRow .menu-item:first-child:nth-last-child(3),
    .btnRow .menu-item:first-child:nth-last-child(3) ~ *,
    .menu .menu-item:first-child:nth-last-child(3),
    .menu .menu-item:first-child:nth-last-child(3) ~ *,
    .row .menu-item:first-child:nth-last-child(3),
    .row .menu-item:first-child:nth-last-child(3) ~ * {
      width: 31.66667%; }
    .btnRow .menu-item:first-child:nth-last-child(4),
    .btnRow .menu-item:first-child:nth-last-child(4) ~ *,
    .menu .menu-item:first-child:nth-last-child(4),
    .menu .menu-item:first-child:nth-last-child(4) ~ *,
    .row .menu-item:first-child:nth-last-child(4),
    .row .menu-item:first-child:nth-last-child(4) ~ * {
      width: 23.75%; }
    .btnRow .menu-item:first-child:nth-last-child(5),
    .btnRow .menu-item:first-child:nth-last-child(5) ~ *,
    .menu .menu-item:first-child:nth-last-child(5),
    .menu .menu-item:first-child:nth-last-child(5) ~ *,
    .row .menu-item:first-child:nth-last-child(5),
    .row .menu-item:first-child:nth-last-child(5) ~ * {
      width: 19%; }
    .btnRow .menu-item:first-child:nth-last-child(6),
    .btnRow .menu-item:first-child:nth-last-child(6) ~ *,
    .menu .menu-item:first-child:nth-last-child(6),
    .menu .menu-item:first-child:nth-last-child(6) ~ *,
    .row .menu-item:first-child:nth-last-child(6),
    .row .menu-item:first-child:nth-last-child(6) ~ * {
      width: 15.83333%; }
    .btnRow .menu-item:first-child:nth-last-child(7),
    .btnRow .menu-item:first-child:nth-last-child(7) ~ *,
    .menu .menu-item:first-child:nth-last-child(7),
    .menu .menu-item:first-child:nth-last-child(7) ~ *,
    .row .menu-item:first-child:nth-last-child(7),
    .row .menu-item:first-child:nth-last-child(7) ~ * {
      width: 13.57143%; }
    .btnRow .menu-item:first-child:nth-last-child(8),
    .btnRow .menu-item:first-child:nth-last-child(8) ~ *,
    .menu .menu-item:first-child:nth-last-child(8),
    .menu .menu-item:first-child:nth-last-child(8) ~ *,
    .row .menu-item:first-child:nth-last-child(8),
    .row .menu-item:first-child:nth-last-child(8) ~ * {
      width: 11.875%; }
    .btnRow .menu-item:first-child:nth-last-child(9),
    .btnRow .menu-item:first-child:nth-last-child(9) ~ *,
    .menu .menu-item:first-child:nth-last-child(9),
    .menu .menu-item:first-child:nth-last-child(9) ~ *,
    .row .menu-item:first-child:nth-last-child(9),
    .row .menu-item:first-child:nth-last-child(9) ~ * {
      width: 10.55556%; }
    .btnRow .menu-item:first-child:nth-last-child(10),
    .btnRow .menu-item:first-child:nth-last-child(10) ~ *,
    .menu .menu-item:first-child:nth-last-child(10),
    .menu .menu-item:first-child:nth-last-child(10) ~ *,
    .row .menu-item:first-child:nth-last-child(10),
    .row .menu-item:first-child:nth-last-child(10) ~ * {
      width: 9.5%; }
    .btnRow .menu-item:first-child:nth-last-child(11),
    .btnRow .menu-item:first-child:nth-last-child(11) ~ *,
    .menu .menu-item:first-child:nth-last-child(11),
    .menu .menu-item:first-child:nth-last-child(11) ~ *,
    .row .menu-item:first-child:nth-last-child(11),
    .row .menu-item:first-child:nth-last-child(11) ~ * {
      width: 8.63636%; }
    .btnRow .menu-item:first-child:nth-last-child(12),
    .btnRow .menu-item:first-child:nth-last-child(12) ~ *,
    .menu .menu-item:first-child:nth-last-child(12),
    .menu .menu-item:first-child:nth-last-child(12) ~ *,
    .row .menu-item:first-child:nth-last-child(12),
    .row .menu-item:first-child:nth-last-child(12) ~ * {
      width: 7.91667%; }
    .btnRow .menu-item:first-child:nth-last-child(13),
    .btnRow .menu-item:first-child:nth-last-child(13) ~ *,
    .menu .menu-item:first-child:nth-last-child(13),
    .menu .menu-item:first-child:nth-last-child(13) ~ *,
    .row .menu-item:first-child:nth-last-child(13),
    .row .menu-item:first-child:nth-last-child(13) ~ * {
      width: 7.30769%; }
    .btnRow .menu-item:first-child:nth-last-child(14),
    .btnRow .menu-item:first-child:nth-last-child(14) ~ *,
    .menu .menu-item:first-child:nth-last-child(14),
    .menu .menu-item:first-child:nth-last-child(14) ~ *,
    .row .menu-item:first-child:nth-last-child(14),
    .row .menu-item:first-child:nth-last-child(14) ~ * {
      width: 6.78571%; }
    .btnRow .menu-item:first-child:nth-last-child(15),
    .btnRow .menu-item:first-child:nth-last-child(15) ~ *,
    .menu .menu-item:first-child:nth-last-child(15),
    .menu .menu-item:first-child:nth-last-child(15) ~ *,
    .row .menu-item:first-child:nth-last-child(15),
    .row .menu-item:first-child:nth-last-child(15) ~ * {
      width: 6.33333%; }
  .btnRow .rowBtn,
  .menu .rowBtn,
  .row .rowBtn {
    color: #232323;
    text-decoration: none;
    padding: 0.15em;
    margin: 0.15em;
    font-family: courier, monotype;
    font-weight: 600;
    text-align: center;
    font-size: 0.75em;
    min-width: 75px; }
    .btnRow .rowBtn:first-child:nth-last-child(1),
    .btnRow .rowBtn:first-child:nth-last-child(1) ~ *,
    .menu .rowBtn:first-child:nth-last-child(1),
    .menu .rowBtn:first-child:nth-last-child(1) ~ *,
    .row .rowBtn:first-child:nth-last-child(1),
    .row .rowBtn:first-child:nth-last-child(1) ~ * {
      width: 25%; }
    .btnRow .rowBtn:first-child:nth-last-child(2),
    .btnRow .rowBtn:first-child:nth-last-child(2) ~ *,
    .menu .rowBtn:first-child:nth-last-child(2),
    .menu .rowBtn:first-child:nth-last-child(2) ~ *,
    .row .rowBtn:first-child:nth-last-child(2),
    .row .rowBtn:first-child:nth-last-child(2) ~ * {
      width: 12.5%; }
    .btnRow .rowBtn:first-child:nth-last-child(3),
    .btnRow .rowBtn:first-child:nth-last-child(3) ~ *,
    .menu .rowBtn:first-child:nth-last-child(3),
    .menu .rowBtn:first-child:nth-last-child(3) ~ *,
    .row .rowBtn:first-child:nth-last-child(3),
    .row .rowBtn:first-child:nth-last-child(3) ~ * {
      width: 8.33333%; }
    .btnRow .rowBtn:first-child:nth-last-child(4),
    .btnRow .rowBtn:first-child:nth-last-child(4) ~ *,
    .menu .rowBtn:first-child:nth-last-child(4),
    .menu .rowBtn:first-child:nth-last-child(4) ~ *,
    .row .rowBtn:first-child:nth-last-child(4),
    .row .rowBtn:first-child:nth-last-child(4) ~ * {
      width: 6.25%; }
    .btnRow .rowBtn:first-child:nth-last-child(5),
    .btnRow .rowBtn:first-child:nth-last-child(5) ~ *,
    .menu .rowBtn:first-child:nth-last-child(5),
    .menu .rowBtn:first-child:nth-last-child(5) ~ *,
    .row .rowBtn:first-child:nth-last-child(5),
    .row .rowBtn:first-child:nth-last-child(5) ~ * {
      width: 5%; }

.ui.cards {
  display: flex;
  flex-flow: row wrap; }

.contentBox,
.ui.card {
  background-color: rgba(194, 194, 194, 0);
  border: 1px rgba(105, 105, 105, 0) solid;
  box-shadow: 0 0 0px 0.5px rgba(105, 105, 105, 0);
  border-radius: 4px;
  box-shadow: -0.1em 0.1em 2px #838383;
  border-radius: 15px;
  margin: 0.25em;
  padding: 0.35em;
  min-width: 320px;
  width: 30vw;
  font-size: 0.7em; }
  .contentBox .boxHeader,
  .contentBox .header,
  .ui.card .boxHeader,
  .ui.card .header {
    font-size: 1.25em;
    color: #232323;
    font-weight: bold;
    display: flex;
    flex-flow: row; }
    .contentBox .boxHeader div,
    .contentBox .header div,
    .ui.card .boxHeader div,
    .ui.card .header div {
      margin: 0.2em; }
  .contentBox .boxBody div,
  .ui.card .boxBody div {
    margin: 0.5em; }
  .contentBox .boxFooter div,
  .ui.card .boxFooter div {
    margin: 0.75em 0; }

h1, h2, h3, h4, h5, h6, textarea, input {
  margin: .3em;
  font-family: courier, monotype; }

h1, .h1Txt, h1 textarea, h1 input {
  font: 2.15rem courier, monotype;
  display: block;
  border-bottom: #566896 solid 2px;
  font-weight: 800; }

h2, .h2Txt, h2 textarea, h2 input {
  font: 1.85rem courier, monotype;
  display: block; }

h3, .h3Txt, h3 textarea, h3 input {
  font: 1.65rem courier, monotype;
  display: block; }

h4, .h4Txt, h4 textarea, h4 input {
  font: 1.5rem courier, monotype;
  display: block; }

h5, .h5Txt, h5 textarea, h5 input {
  font: 1.25rem courier, monotype;
  display: block; }

h6, .h6Txt, h6 textarea, h6 input {
  font: 1.15rem courier, monotype;
  display: block; }

p, .paraTxt {
  margin: 1em; }

blockquote, .blocqTxt {
  margin-left: 3em; }

hr {
  box-shadow: 0.1em 0.1em 2px rgba(105, 105, 105, 0.5), inset 0.1em 1em 2px rgba(105, 105, 105, 0.5); }
